{
  "parser": "typescript-eslint-parser",
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier", "prettier/react"],
  "plugins": ["typescript", "react", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "react/jsx-sort-props": [
      "error",
      {
        "shorthandFirst": true,
        "reservedFirst": true
      }
    ]
  }
}
